$colum:12;
$padding:30px;

@mixin col-x {
  @for $i from 1 to 12 {
    .col-#{$i} {
      flex: 0 0 calc(#{$i} / #{$colum} * 100% - #{$padding});
      max-width: calc(#{$i} / #{$colum} * 100% - #{$padding});
    }
    .col-sm-#{$i} {
      flex: 0 0 calc(#{$i} / #{$colum} * 100% - #{$padding});
      max-width: calc(#{$i} / #{$colum} * 100% - #{$padding});
    }
    .col-md-#{$i} {
      flex: 0 0 calc(#{$i} / #{$colum} * 100% - #{$padding});
      max-width: calc(#{$i} / #{$colum} * 100% - #{$padding});
    }
    .col-lg-#{$i} {
      flex: 0 0 calc(#{$i} / #{$colum} * 100% - #{$padding});
      max-width: calc(#{$i} / #{$colum} * 100% - #{$padding});
    }
    .col-xl-#{$i} {
      flex: 0 0 calc(#{$i} / #{$colum} * 100% - #{$padding});
      max-width: calc(#{$i} / #{$colum} * 100% - #{$padding});
    }

    .col-#{$i},
    .col-auto,
    .col-sm-#{$i},
    .col-sm-auto,
    .col-md-#{$i},
    .col-md-auto,
    .col-lg-#{$i},
    .col-lg-auto,
    .col-xl-#{$i},
    .col-xl-auto {
      position: relative;
      width: 100%;
      padding: 0 15px;
    }
  }
}
