@mixin btn-type($color,
  $st,
  $nd,
  $rd,
  $th,
  $bs) {
  color: $color;
  background-color: $st;
  border-color: $st;

  &:hover {
    color: $color;
    background-color: $nd;
    border-color: $rd;
  }

  &:focus,
  &.focus {
    box-shadow: $bs;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show>&.dropdown-toggle {
    color: $color;
    background-color: $rd;
    border-color: $th;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show>&.dropdown-toggle:focus {
    box-shadow: $bs;
  }
}

$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem !important;

    .m-auto {
      margin: auto;
    }

    .m-#{$i} {
      margin: $margin;
    }

    .ml-#{$i} {
      margin-left: $margin;
    }

    .mr-#{$i} {
      margin-right: $margin;
    }

    .mt-#{$i} {
      margin-top: $margin;
    }

    .mb-#{$i} {
      margin-bottom: $margin;
    }

    .mx-#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }

    .my-#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}

@include margin-classes;


@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;

    .p-auto {
      padding: auto;
    }

    .p-#{$i} {
      padding: $padding;
    }

    .pl-#{$i} {
      padding-left: $padding;
    }

    .pr-#{$i} {
      padding-right: $padding;
    }

    .pt-#{$i} {
      padding-top: $padding;
    }

    .pb-#{$i} {
      padding-bottom: $padding;
    }

    .px-#{$i} {
      padding-left: $padding;
      padding-right: $padding;
    }

    .py-#{$i} {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}

@include padding-classes;

@mixin bagde-type ($type, $color, $bg1, $bg2, $bs) {
  .badge-#{$type} {
    color: $color;
    background-color: $bg1;
  }

  a {
    &.badge-#{$type} {

      &:focus,
      &:hover {
        color: $color;
        background-color: $bg2;
      }

      &:focus,
      &.focus {
        outline: 0;
        box-shadow: $bs;
      }
    }
  }
}

@mixin alert-type ($type, $color, $bg, $bd, $bd-t, $link) {
  .alert-#{$type} {
    color: $color;
    background-color: $bg;
    border-color: $bd;

    hr {
      border-top-color: $bd-t;
    }

    .alert-link {
      color: $link;
    }
  }
}
