@mixin btn-type($color,
  $st,
  $nd,
  $rd,
  $th,
  $bs) {
  color: $color;
  background-color: $st;
  border-color: $st;

  &:hover {
    color: $color;
    background-color: $nd;
    border-color: $rd;
  }

  &:focus,
  &.focus {
    box-shadow: $bs;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show>&.dropdown-toggle {
    color: $color;
    background-color: $rd;
    border-color: $th;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show>&.dropdown-toggle:focus {
    box-shadow: $bs;
  }
}
