$primary:#007bff;
$primary-nd:#0062cc;
$secondary: #6c757d;
$secondary-nd: #545b62;
$success: #28a745;
$success-nd:#1e7e34;
$info: #17a2b8;
$info-nd: #117a8b;
$warning: #ffc107;
$warning-nd: #d39e00;
$danger: #dc3545;
$danger-nd: #bd2130;
$light: #f8f9fa;
$light-nd :#dae0e5;
$dark: #343a40;
$dark-nd: #1d2124;
