.btn,
.button {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  user-select: none; //disable user select text in block
  background-color: transparent;
  border: solid 1px transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #212529;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color: #007bff, $alpha: 0.25);
  }

  &:disabled,
  &.disable {
    opacity: 0.65;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer; //ignore class btn has attribute disabled and class disable
  }
}

.btn-primary {
  @include btn-type(#ffffff,
    $primary,
    #0069d9,
    $primary-nd,
    #005cbf,
    0 0 0 0.2rem rgba(38, 143, 255, 0.5));
}

.btn-secondary {
  @include btn-type(#ffffff,
    $secondary,
    #5a6268,
    $secondary-nd,
    #4e555b,
    0 0 0 0.2rem rgba(130, 138, 145, 0.5));
}

.btn-success {
  @include btn-type(#ffffff,
    $success,
    #218838,
    $success-nd,
    #1c7430,
    0 0 0 0.2rem rgba(72, 189, 97, 0.5));
}

.btn-info {
  @include btn-type(#ffffff,
    $info,
    #138496,
    $info-nd,
    #10707f,
    0 0 0 00.2rem rgba(58, 176, 195, 0.5));
}

.btn-warning {
  @include btn-type(#212529,
    $warning,
    #e0a800,
    $warning-nd,
    #c69500,
    0 0 0 0.2rem rgba(222, 170, 12, 0.5));
}

.btn-danger {
  @include btn-type(#ffffff,
    $danger,
    #c82333,
    $danger-nd,
    #b21f2d,
    0 0 0 0.2rem rgba(225, 83, 97, 0.5));
}

.btn-light {
  @include btn-type(#212529,
    $light,
    #e2e6ea,
    $light-nd,
    #d3d9df,
    0 0 0 0.2rem rgba(216, 217, 219, 0.5));
}

.btn-dark {
  @include btn-type(#ffffff,
    $dark,
    #23272b,
    $dark-nd,
    #171a1d,
    0 0 0 0.2rem rgba(82, 88, 93, 0.5));
}
