  <main class="container">
    <div class="row  mt-5">
      <div class="col-lg-3 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-button-list" data-toggle="list"
            routerLink="/button" role="tab" aria-controls="home">Button</a>
          <a class="list-group-item list-group-item-action" id="list-forms-list" data-toggle="list" routerLink="/forms"
            role="tab" aria-controls="profile">Forms</a>
          <a class="list-group-item list-group-item-action" id="list-badge-list" data-toggle="list" routerLink="/badge"
            role="tab" aria-controls="profile">Badge</a>
          <a class="list-group-item list-group-item-action" id="list-navbar-list" data-toggle="list"
            routerLink="/navbar" role="tab" aria-controls="profile">Navbar</a>
          <a class="list-group-item list-group-item-action" id="list-alert-list" data-toggle="list" routerLink="/alert"
            role="tab" aria-controls="profile">Alert</a>
          <a class="list-group-item list-group-item-action" id="list-breadscrumb-list" data-toggle="list"
            routerLink="/breadscurmb" role="tab" aria-controls="profile">Breadscurmb</a>
          <a class="list-group-item list-group-item-action" id="list-card-list" data-toggle="list"
            routerLink="/card" role="tab" aria-controls="profile">Card</a>
          <a class="list-group-item list-group-item-action" id="list-collapse-list" data-toggle="list"
            routerLink="/collapse" role="tab" aria-controls="profile">Collapse</a>
          <a class="list-group-item list-group-item-action" id="list-modal-list" data-toggle="list"
            routerLink="/modal" role="tab" aria-controls="profile">Modal</a>
          <a class="list-group-item list-group-item-action" id="list-dropdown-list" data-toggle="list"
            routerLink="/dropdown" role="tab" aria-controls="profile">Dropdown</a>
        </div>
      </div>
      <div class="col-lg-9 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
